<div id='container'>
  <aside>
    <h2>
      <i class="fas fa-bell"></i> Notificações
      <label>
        Últimas recomendações e previsões.
      </label>
    </h2>
    <ul>
      <li class='animated faster slideInLeft' *ngFor='let notification of notifications'>
        <div>
          <i class="far fa-bell"></i>
        </div>
        <div>
          <b>{{ notification.title }}</b>
          <p>
            {{ notification.subtitle }}
            <br> {{ notification.message }}
          </p>
          <footer>
            {{ notification.date | date: 'dd/MM/yyyy' }}, às {{notification.date | date: 'HH:mm'}}
          </footer>
        </div>
      </li>
    </ul>
  </aside>
  <main>
    <header>
      <div class='welcome-message'>
        <h2>
            <i class="fas fa-columns"></i> Olá, Operador
        </h2>
        <p>
          Hoje é dia
          <b>{{ todayDate | date: 'dd' }} de {{ month }} de {{ todayDate | date: 'yyyy' }}</b>
        </p>
      </div>
      <div class='weather-message'>
        <label>
          Operações previstas
        </label>
        <p>
          ....
        </p>
      </div>
    </header>
    <div class='wrapper'>
      <section class='animated fast fadeIn' [ngClass]='{"detailsOptions": !courseData }'>
        <div class='wrapper-select' (click)='toggleLineUp()'>
          <div class='text'>
            <h3>
              Line Up
              <label *ngIf='showLineUp'>
                Operações da Semana
              </label>
            </h3>
            <div class='showLineUp'>
              <p class='p-details'>
                Toque para ver o Line Up planejado para a semana.
              </p>
            </div>
          </div>
          <div class='icon'>
            <i class="far fa-calendar-alt"></i>
          </div>
        </div>
        <div id='line-up'></div>
      </section>
      <section class='animated fast fadeIn'>
        <div class='wrapper-select' (click)='toggleLineUp()'>
          <div class='text'>
            <h3>
              Materiais e Cursos
              <label *ngIf='showLineUp'>
                Operações da Semana
              </label>
            </h3>
            <div class='showLineUp'>
              <p class='p-details'>
                Gerenciar o cadastro de certificados e cursos.
              </p>
            </div>
          </div>
          <div class='icon'>
            <i class="fas fa-plus-circle" (click)='viewDetails("add-course")'></i>
          </div>
          <div *ngIf='showLineUp' id='line-up'></div>
        </div>
        <div class='details-course'>
          <div *ngIf='nextDeadlinesActivities && nextDeadlinesActivities.length > 0'>
            <h4>
              <i class="far fa-calendar-alt"></i> Lista de cursos próximos do vencimento
            </h4>
            <ul class='ul-courses'>
              <li *ngFor='let course of nextDeadlinesActivities' (click)='viewDetails("course", course)'>
                <div class='icon'></div>
                <div class='content'>
                  <label class='course-date'>
                    {{ course.validate | date: 'dd/MM/yyyy' }}
                  </label>
                  <h1>
                    {{ course.title > 15 ? (course.title | slice:0:10) : course.title }}
                  </h1>
                  <footer>
                    <span>{{ course.categoryName }} </span> |
                    <b> {{ course.duration }} </b>
                  </footer>
                </div>
              </li>
            </ul>
          </div>
          <h4>
            <i class="fas fa-tasks"></i> Todas atividades agendadas
          </h4>
          <p *ngIf='!allActivities || allActivities.length == 0'>
            Nenhuma atividade cadastrada.
          </p>
          <ul class='ul-courses'>
            <li *ngFor='let course of allActivities' (click)='viewDetails("course", course)'>
              <div class='icon'></div>
              <div class='content'>
                <label>
                  {{ course.date | date: 'dd/MM/yyyy' }}
                </label>
                <h1>
                  {{ course.title > 15 ? (course.title | slice:0:10) : course.title }}
                </h1>
                <footer>
                  <span>{{ course.categoryName }} </span> |
                  <b> {{ course.duration }} </b>
                </footer>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div class='background-details' (click)='close()' *ngIf='showSideModal'></div>
    <div class='see-details' [ngClass]='{"see": showSideModal}'>
      <div *ngIf='sideModalType == "calendar" || sideModalType == "addEventOnCalendar"'>
        <div class="details-header">
          <div class="save circle-icon" (click)='submit()'>
            <i class="fas fa-check"></i>
          </div>
        </div>
        <div class='form-content'>
          <form [formGroup]="courseFormGroup" (keydown.enter)="submit()">
            <div>
              <label for='title'>
                Nome da embarcação
              </label>
              <input type="text" placeholder="Qual é o nome da embarcação?" [(ngModel)]="calendarData.shipName" formControlName="shipName" name="fullname"
                required>
              <div *ngIf="isValid('title')" class='error-message'>
                Insira o nome da embarcação
              </div>
            </div>

            <div>
              <label for='status'>
                Selecione o status
              </label>
              <select [(ngModel)]='calendarData.status' formControlName='status'>
                <option *ngFor='let status of calendarStatus' value='{{status.name}}'> {{status.name}} </option>
              </select>
              <div *ngIf="isValid('status')" class='error-message'>
                Selecione um status
              </div>
            </div>

            <div>
              <label for='dtInicial'>
                Data Inicial
              </label>
              <input type="date" placeholder="Qual data inicial da atracaçaão?" [(ngModel)]="calendarData.beginDate" formControlName="dateBegin" name="dateBegin" required>
            </div>

            <div>
                <label for='dtFinal'>
                  Data Final
                </label>
                <input type="date" placeholder="Qual data final da atracação?" [(ngModel)]="calendarData.endDate" formControlName="dateEnd" name="dateBegin" required>
              </div>
          </form>
        </div>
      </div>
      <div *ngIf='sideModalType == "course" || sideModalType == "add-course"'>
        <div class='details-header'>
          <div class='save circle-icon' *ngIf='courseData.editing' (click)='submit()'>
            <i class="fas fa-check"></i>
          </div>
          <div class='circle-icon' (click)='editCourse(courseData)' [ngClass]='{"edit": courseData.editing}'>
            <i *ngIf='!courseData.editing' class="fas fa-pen"></i>
            <span *ngIf='courseData.editing' (click)='close(course)'>Cancelar</span>
          </div>
        </div>
        <div class='details-content' *ngIf='!courseData.editing'>
          <h3>
            <label>
              título
            </label>
            {{ courseData.title }}
          </h3>
          <p>
            <label>
              Descrição
            </label>
            {{ courseData.description }}
          </p>

          <p>
            <label>
              Duração
            </label>
            {{ courseData.duration }}
          </p>
          <p>
            <label>
              Capacidade
            </label>
            {{ courseData.members }}
          </p>
          <p>
            <label>
              Anexos
            </label>
          </p>
          <ul class='attachments'>
            <li>
              <label>
                Arquivo PDF
              </label>
              <a *ngIf='courseData.pdf' target="_blank" href={{courseData.pdf}}> Baixar arquivo </a>
              <p *ngIf='!courseData.pdf'> Nenhum arquivo disponível</p>
            </li>
            <li>
              <label>
                Link
              </label>
              <a *ngIf='courseData.pdf' target="_blank" href={{courseData.link}}> Acessar vídeo </a>
              <p *ngIf='!courseData.pdf'> Nenhum arquivo disponível</p>
            </li>
          </ul>
        </div>
        <div class='form-content' *ngIf='courseData.editing'>
          <form [formGroup]="courseFormGroup" (keydown.enter)="submit()">
            <div>
              <label for='title'>
                Título da Atividade
              </label>
              <input type="text" placeholder="Qual é o nome da atividade?" [(ngModel)]="courseData.title" formControlName="title" name="fullname"
                required>
              <div *ngIf="isValid('title')" class='error-message'>
                Insira um título à atividade
              </div>
            </div>

            <div>
              <label for='description'>
                Descreva a atividade
              </label>
              <input type="text" placeholder="Dê mais detalhes sobre o que será realizado" [(ngModel)]="courseData.description" formControlName="description"
                name="fullname" required>
              <div *ngIf="isValid('description')" class='error-message'>
                Por favor, insira uma atividade
              </div>
            </div>

            <div>
              <label for='category'>
                Selecione a categoria
              </label>
              <select [(ngModel)]='courseData.category' formControlName='category'>
                <option *ngFor='let option of options' value='{{option.value}}'> {{option.name}} </option>
              </select>
              <div *ngIf="isValid('category')" class='error-message'>
                Selecione uma categoria
              </div>
            </div>

            <div>
              <label for='duration'>
                Duração
              </label>
              <input type="text" placeholder="Qual o tempo estimado de duração?" [(ngModel)]="courseData.duration" formControlName="duration"
                name="fullname" required>
            </div>

            <div>
              <label for='duration'>
                Agendamento
              </label>
              <input type="date" placeholder="Existe alguma data de vencimento?" [(ngModel)]="courseData.date" formControlName="date" name="date"
                required>
            </div>

            <div>
                <label for='validate'>
                  Data de vencimento
                </label>
                <input type="date" placeholder="Existe alguma data de vencimento?" [(ngModel)]="courseData.validate" formControlName="validate" name="validate"
                  required>
              </div>

            <div>
              <label for='pdf'>
                PDF
              </label>
              <input type="text" placeholder="Disponibilizar link do pdf" [(ngModel)]="courseData.pdf" formControlName="pdf" name="fullname"
                required>
              <div *ngIf="isValid('pdf')" class='error-message'>
                Insira um link de pdf
              </div>
            </div>

            <div>
              <label for='link'>
                Vídeo
              </label>
              <input type="text" placeholder="Disponibilizar link para vídeos" [(ngModel)]="courseData.link" formControlName="link" name="fullname"
                required>
              <div *ngIf="isValid('link')" class='error-message'>
                Insira um link de video
              </div>
            </div>

            <div>
              <label for='link'>
                Capacidade
              </label>
              <input type="text" placeholder="Quantas pessoas estarão envolvidas na atividade?" [(ngModel)]="courseData.members" formControlName="link"
                name="fullname" required>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>